<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<!-- Copyright -->
<section class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="text-center text-white">
                    &copy; Copyright 2013 OSF Global Services
                </div>
            </div>
        </div>
    </div>
    